%div{ class: "container" }
  %div{ class: "row" }
    %p{ class: "dir-up" }
      %span /
      %a{ href: "/docs" } docs
      - @basename.split("/").each_with_object("/docs") do |name, subpath|
        - subpath += "/" + name
        %span /
        %a{ href: subpath }= name
    - if @filepath
      %p{ class: "file-download" }
        %a{ href: @filepath }
          %span{class: "glyphicon glyphicon-save"}
    - if @last_access
      %p{ class: "last-access" }="Last access from agent: #{@last_access}"
  %div{ class: "row" }
    - if @filelist
      %h2 Files
      %ul
        - @filelist.each do |filename|
          %li
            %a{href: "#{@basepath}/#{filename}"}=filename
    - if @dirlist && @dirlist.length > 0
      %h2 Dirs
      %ul
        - @dirlist.each do |dirname|
          %li
            %a{href: "#{@basepath}/#{dirname}"}=dirname

    - if @content
      %div{ class: 'markdown' }
        = @content
